{% extends 'base.html.twig' %}

{% block title %} Offre - Stage4all{% endblock %}
{% block link %} <link rel="stylesheet" href="/assets/style_consulter_offre.css"> {% endblock %}

{% block content %}
{% set offer = offre|default([]) %}
<article class="offer-page">
    <div class="gauche">
        <h1>{{ offer.titre|default('Titre offre')}}</h1>
        <p>Dernière modif le : {{ offer.updated_at|default("JAMAIS MOUHAHAHA")}}
        <h3>Domaine :</h3>
        <p>{{ offer.secteur|default("Domaine offre")}}
        <h3>Description de l'offre : </h3>
        <p>{{ offer.description_offre|default("Description offre") }}</p>
        <h3>Compétences conseillées : </h3>
        <p>{{ offer.competences|default("Compétences demandées")}}</p>
    </div>
    <aside class="droit">
        <div class="haut">
            <button class="apply">Postuler !</button>
        </div>
        <div class="bas">
            <p>Localisation : {{ offer.localisation|default("Endroit de l'offre")}} </p>
            <p>Rémunération : {{ offer.remuneration|default("X euros")}} </p>
            <p>Dates : Entre le {{ offer.date_debut|default("DATE DEBUT")}} et le {{ offer.date_fin|default("DATE FIN")}} </p>
        </div>
    </aside>
</article>
{% endblock %}
